body {
  background: rgb(0, 37, 2);
}

.header {
  /* background-color: #f8f9fa; */
  padding: 10px 0;
  justify-content: space-evenly;

}

.header .nav-item {
  margin: 0 15px;
  color: #3C9C8B;
}

.login-bottom {
  padding-bottom: 20px !important;
  border-bottom: 1px solid #000;
}

.search-box-row {
  background-color: #f8f9fa;
  padding-bottom: 30px;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}
h5.card-title.text-center {
    font-size: 25px;
}
.logout-img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card.login-card input {
    height: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
}
.card.login-card button.btn.btn-block.login-button.ms-3 {
    height: 45px;
    background-color: #fff;
    margin-top: 25px;
    box-shadow: none;
}
.card.login-card button.btn.btn-block.login-button.ms-3:focus {
    box-shadow: none;
}
.card.login-card button.btn.btn-block.login-button.ms-3:hover {
    background: #e8f0fe !important;
    color: #000;
    border: #e8f0fe!important;
}
.card.login-card {
    width: 43% !important;
    background: #2a7d76;
    border: 2px solid #2a7d76;
    color: rgb(255, 255, 255);
}

.logout-img {
  max-height: 60px;
  /* Adjust as needed */
  color: white;
  font-size: 16px;
  border-radius: 32px;
  border: 1px solid #cecece;
}
.sign-up-user {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}


.logo {
  max-height: 30px;
  /* Adjust as needed */
  cursor: pointer;
}

.dropdown-menu {
  min-width: 200px;
  /* Adjust as needed */
}

/* .row {
    justify-content: center;
} */
h1,
h3 {
  color: #3C9C8B;
}

p {
  font-weight: 600;
}

a:hover {
  color: #3C9C8B;
}

a:hover {
  color: rgb(169 240 5)
}

h4 {
  margin-top: 20px;
}

.container-fluid1 {
  border-top: none !important;
}

footer {
  border-top: 1px solid #dddddd;
  color: white;
}

.nav-link {
  color: white;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.experienced {
  color: white;

  text-decoration: none;
}

.globe-img {
  width: 50px;
  height: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -87px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 30px;
  min-width: 227px;
  text-align: start;
  text-indent: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.admin-img {
  width: 150px;
  height: 150px;
}


@media (min-width:768px) and (max-width:1024px){
  .card.login-card {
    width: 68% !important;
}
.login-container {
    padding-top: 30px;
    padding-bottom: 40px;
}


}


@media screen and (max-width:767px) {
.card.login-card {
    width: 100% !important;
}
.login-container {
    padding-top: 15px !important;
    padding-bottom: 40px !important;
}


}

@media screen and (max-width:600px) {
  .experienced {
    
  }
}

.bold-footer-element {
  font-weight: bold;
  color: #000 !important;
}

.globe-img {
  width: 30px !important;
  height: 30px !important;
}

.flex-row {
  gap: 10px;
  align-items: center;
}

.container-absolute {
  max-width: 1230px !important;
}

.img-fluid {
  width: 16px;
  height: 16px;
}

.input-one {
  border-right: 1px solid;
  border-radius: 0px !important;
}

.input-two {
  border-right: 1px solid;
  border-radius: 0px !important;
}

.input-three {
  border-right: 1px solid;
  border-radius: 0px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.search-bar-containers {
  width: 850px;
}

.search-bar-container {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.search-bar-container input {
  flex: 1;
}

.search-icon {
  cursor: pointer;
  width: 50px;
  /* Adjust size as needed */
  height: 50px;
  /* Adjust size as needed */
}

.btn {
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 700;
  border-radius: 20px;
  font-size: 17px;
}

.btn:hover {
  background-color: rgb(139, 208, 0);
}
.already-account {
    padding-top: 15px;
    text-align: center;
    margin-bottom: 3px;
}

.login-container {
    align-items: flex-start !important;
    padding-top: 30px;
    padding-bottom: 60px;
}
a.login-a.forgot-user-pass {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.task-form {
  border: 2px solid rgb(169, 240, 5);
  background: rgb(169 240 5);
  /* background: rgb(0, 37, 2); */
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgb(169, 240, 5) 12.5%, rgb(0, 37, 2) 87.5%, rgba(0, 0, 0, 0) 100%); */
}

/* .form-control {
  background: rgb(0, 37, 2);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

i {
  color: rgb(255, 255, 255);
}

.font-weight-bold{
  color: white;
} */

.search-from {
  background: rgb(0, 37, 2);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.search-from{
  display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.login-card{
  background: rgb(0, 37, 2);
  border: 2px solid rgb(169, 240, 5);
  color: rgb(255, 255, 255);
}

.login-button{
  background: rgb(169 240 5);
  color: black;
}

.login-a {
    color: #fff;
}
.login-a:hover {
    color: #f7f8fc;
}

.btn-login{
  background-color: rgb(0, 37, 2);
  color: white;
  font-weight: 400;
  border-radius: 20px;
  font-size: 20px;
}

.btn-login:hover {
  color: rgb(173, 239, 41);
}


.social-icon {
  font-size: 25px;
  /* margin-left: 45px; */
}