.search-destinations {
    display: flex;
    color: black;
    background: #ffffff;
    width: 65%;
    margin: auto;
    justify-content: space-between;
    text-align: left;
    border-radius: 50px;
    padding: 10px 35px;
    margin-top: 30px;
    border: 7px solid #93e33091;
    padding-right: 10px;
}
.host-by-name i.fa.fa-user {
    width: 20px !important;
}
.host-by-name i {
    width: 24px;
    font-size: 20px;
    height: 24px;
}
.host-by-name p {
    align-items: baseline;
    margin-bottom: -3px !important;
    display: flex;
    gap: 8px;
}
.filter-host-user .partial-host-list .card.h-100 {
    border-radius: 10px;
}
.work-destination .card:hover {
    background: #a9f005;
}
.work-destination .card:hover p {
    color: #000000;
}
.partial-host-list a {
    color: #212529;
}
.search-button button:hover {
    background: #a9f005;
}
.search-button button:hover i.fa {
    color: #000000;
}
.partial-host-list a:hover {
    text-decoration: none;
}

.container.search-destinations {
    width: 65%;
    padding-left: 30px;
    padding-bottom: 10px;
	    align-items: center;
}

.search-destinations p {
    margin-bottom: 0px;
}

.search-button button {
    background: #FF3C64;
    border: none;
    color: #fff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}
.search-destinations input::placeholder {
    color: #888888;
}
.search-destinations select {
    color: #888888;
}

h6 {
    margin-bottom: 0px;
}

.search-destinations label {
    margin-bottom: 0;
}

.destination-section label {
    font-size: 14px;
    color: darkslategray;
}

.service-section label {
    font-family: auto;
    font-size: 19px;
    color: darkslategray;
}

.tool-section label {
    font-family: auto;
    font-size: 19px;
    color: darkslategray;
}

.gender-section label {
    font-family: auto;
    font-size: 19px;
    color: darkslategray;
}

.destination-section h6.search-destination {
    color: dimgray;
    font-weight: 400;
    color: #3c3838;
}

p.choose-service {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    font-family: auto;
    color: #3c3838;
}

h6.choose-tool {
    font-family: auto;
    text-align: center;
    color: #3c3838;
}

h6.choose-gender {
    font-family: auto;
    color: #3c3838;
}

.service-section {
    display: flex;
    flex-direction: column;
}

.tool-section {
    display: flex;
    flex-direction: column;
}

.gender-section {
    display: flex;
    flex-direction: column;
}

.destination-section {
        display: flex;
    flex-direction: column;
    padding-top: 0px;
}


input:focus-visible {
    outline: none;
}


select:focus-visible {
    outline: none;
}

.meet-our-top h1 {
    text-align: left !important;
    font-size: 30px;
    color: #fff;
}

.book-a-task-row {
    margin-top: 90px;
}

.meet-our-top img.img-fluid {
    max-width: 100% !important;
    height: 100%;
    border-radius: 20px;
}

.meet-our-top .owl-nav {
    position: absolute;
    top: -29%;
    width: 50%;
    left: 50%;
    display: flex;
    justify-content: end;
    transform: translateY(-50%);
    gap: 9px;
}
.meet-our-top .clients-carousel.owl-carousel.owl-loaded.owl-drag {
    margin-top: 30px;
}
.meet-our-top .star-count {
    padding: 10px 0;
    position: relative;
    left: 80px;
}

.meet-our-top .star-count a {
    color: #000;
    font-weight: 500;
    text-decoration: underline;
}

.meet-our-top .owl-nav button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.meet-our-top .owl-nav button:hover {
    color: #007bff;
    /* Change hover color */
}

.meet-our-top i.fa.fa-chevron-left {
    font-size: 20px;
    background: rgb(169 240 5);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meet-our-top i.fa.fa-chevron-right {
    font-size: 20px;
    background: rgb(169 240 5);

    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meet-our-top i.fa.fa-chevron-left:hover {
    background: #ff3c64;
}

.meet-our-top i.fa.fa-chevron-right:hover {
    background: #ff3c64;
}

.detils-inner p {
    color: black;
    text-align: left;
    padding: 0px 10px;
    margin-bottom: 0px;
    margin: -4px;
    font-size: 15px;
}

.meet-our-top .owl-carousel .owl-item img {
    display: block;
    width: 120px;
    margin-bottom: 0px;
    border-radius: 0;
    height: 169px;
    object-fit: cover;
    object-position: top;
    /* margin-left: 10px; */
    margin-top: 10px;
    padding-left: 10px;
}

.meet-our-top .detils-inner i {
    padding-right: 10px;
    width: 24px;
    font-size: 20px;
    height: 24px;
}


.meet-our-top .clients-carousel.owl-carousel.owl-loaded.owl-drag .single-box {
    background: #fff;
    border-radius: 10px;
}
/*.meet-our-top .clients-carousel.owl-carousel.owl-loaded.owl-drag .single-box a:hover {
    text-decoration: none;
}
*/
.meet-our-top .detils-inner {
    padding: 10px 0;
    height: 200px;
}

.interactive-first .social-icon {
    display: block !important;
}

.interactive-four input.form-control {
    margin: auto;
    margin-bottom: 15px;
    height: 45px;
}

.interactive-four form.d-flex.justify-content-center {
    display: block !important;
}

.meet-our-top section.testimonial .single-box {
    display: flex;
    gap: 15px;
}

.interactive-four button.btn.btn-primary {
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
}

.host-main-profile h1 {
    font-size: 30px;
    color: #fff;
    padding: 20px 0;
    padding-top: 0px;
}
.host-main-profile {
    padding-top: 65px;
}
.subscribe-news button.btn.btn-primary {
    border: none;
    padding: 8px 25px;
    border-radius: 100px;
}
.select-service-left img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    border: solid 2px #fff;
}
.select-service-right h1 {
    text-align: left;
}
.select-service-right {
    padding-left: 0px !important;
    padding-right: 0;
}

.select-service-left {
    padding-right: 0px !important;
    padding-left: 0px;
}

div#feedback-testimonials .testimonial-name {
    margin: 5px auto 0;
}

.select-a-service h3 {
    text-align: left;
    font-size: 18px;
    color: #a9f005;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 10px;
    width: 150px;
}
.host-booking-inner p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
}

.select-a-service {
    display: flex;
    gap: 15px;
    align-items: center;
}

.host-booking-inner {
    margin-top: -28px;
}

.host-booking-inner i {
    color: #fff;
}
.lists-maximum-offers {
    padding-top: 15px;
}
.select-a-tool h3 {
    text-align: left;
    font-size: 18px;
    color: #a9f005;
    width: 120px;
}
.booking-select-add {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 0px;
}
.booking-select-add .select-booking-inner label {
    margin-bottom: 0;
}
.select-a-tool {
    margin-top: 10px;
    text-align: left;
    display: flex;
    gap: 18px;
}

.select-booking-inner {
    color: #fff;
}
.select-booking-inner p {
    margin-bottom: 0px;
    font-size: 14px;
}

.available-time p {
    color: #fff;
    margin-bottom: 0;
    font-size: 20px;
    text-align: left;
    padding-top: 0px;
}

.row.booking-mark-sdv {
    align-items: center;
    border: solid 1px #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.biography-sec {
    color: #fff;
}

.biography-sec p {
    width: 100%;
    margin: auto;
    font-size: 14px;
    text-align: center;
}

.biography-sec h3 {
    color: #fff;
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 15px;
}
.english-tad-add {
    text-align: center;
}
.biography-sec h4 {
    color: #fff;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
}

.biography-sec h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-top: 18px;
    text-align: center;
}
.location-tab-add {
    text-align: center;
}

.biography-sec h1 {
    color: #fff;
    font-size: 20px;
    padding-top: 0px;
}

.biography-sec a.eng-text {
    color: black;
    background: #fff;
    padding: 5px 15px;
    border-radius: 35px;
    text-decoration: none;
}
h1.first-top-text {
    text-align: center !important;
}
a.book-now-btn {
    color: black;
    background: rgb(169 240 5);
    padding: 8px 25px;
    border-radius: 50px;
    text-decoration: none !important;
}

a.book-now-btn:hover {
    color: black;
}

.maximum-offers-service img {
    width: 100%;
    border-radius: 20px;
    height: 280px;
    object-fit: cover;
    margin-bottom: 20px;
}
.host-profile-by-id .host-main-profile h1 {
    text-align: center;
}
.row.maximum-offers-service {
    padding-top: 20px;
    position: relative;
    row-gap: 20px;
}

.row.maximum-offers-service p {
    font-size: 20px;
    color: #fff;
}

.row.maximum-offers-service i.fa-solid.fa-heart {
    color: #00000094;
    position: absolute;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
}

.lists-maximum-offers h1 {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 30px;
}

.row.maximum-offers-service i.fa-solid.fa-heart:hover {
    color: #a9f005 !important;
}

.select-duration .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.select-duration .active,
.accordion:hover {
    background-color: #ccc;
}
.select-duration .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container.select-duration {
    padding: 68px 0;
    padding-bottom: 0;
}

.select-duration button.accordion {
    display: flex;
    gap: 20px;
    border: solid 1px !important;
    padding-bottom: 14px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.select-duration p.number-list {
    background: #2D3188;
    background: rgb(0 37 2);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel.time-zone-sct ul {
    display: flex;
    gap: 34px;
    list-style: none;
    margin-top: 20px;
    align-items: center;
}

.panel.time-zone-sct ul li {
    font-size: 18px;
}

li.time-zone-mark {
    border: solid 1px darkgray;
    padding: 5px 15px;
    border-radius: 3px;
}

.panel.time-zone-sct ul {
    display: flex;
    gap: 34px;
    list-style: none;
    margin-top: 20px;
    align-items: center;
    padding-left: 5px;
}

.select-duration button.accordion span {
    font-weight: 600;
    color: #002502;
    font-size: 18px;
}

.select-duration button.accordion i.fa.fa-angle-down {
    position: absolute;
    right: 30px;
    font-size: 25px;
    top: 140px;
    color: #2d3188;
}

.select-duration .accordion-list {
    display: flex;
    gap: 11px;
}

.select-duration-right {
    background: #fff;
    border-radius: 5px;
}

.music-audio img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
}

.music-list-text p {
    margin-bottom: 0;
    text-align: left;
    font-size: 13px;
    color: #808080ab;
}

.music-list-text h5 {
    margin-bottom: 0;
    font-size: 16px;
    text-align: left;
}

.music-list-text {
    padding-left: 15px;
    width: 100%;
}

.music-audio {
    margin: 8px;
    padding: 8px 11px;
    display: flex;
    align-items: center;
    padding-top: 8px;
    border-radius: 5px;
    box-shadow: 1px 3px 30px 2px #e0d2d2;
}

.rating-review-point {
    display: flex;
    align-items: baseline;
    gap: 2px;
}

.rating-review-point span.fa.fa-star {
    color: #ffae1a;
    font-size: 17px;
}

.duration-text p {
    margin-bottom: 0px;
    font-size: 14px;
    padding: 0 15px;
    color: gray;
    font-weight: 400;
}

.duration-text {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
}

.Proceed-to-checkout {
    background: lightgray;
    padding: 18px 0;
    margin: 8px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.Proceed-to-checkout a {
    font-size: 12px;
    color: gray;
    font-weight: 600;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Proceed-to-checkout a:hover {
    color: gray;
}

.Proceed-to-checkout i.fa.fa-credit-card {
    margin-top: 0;
}

.duration-second p {
    color: black;
    font-weight: 600;
}

.angle-icons i.fas.fa-angle-down {
    margin-top: 0px;
}

.select-duration-right {
    height: 249px;
    padding-top: 8px;
}

.how-it-work h1 {
    font-size: 30px;
}

.how-it-work {
    padding-top: 60px;
}
#feedback-testimonials .item {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.py-3.subscribe-news {
    padding-top: 0px !important;
}
.search-destinations input#citySearchByInput {
    border-radius: 0px;
    padding: 5px 5px;
    font-size: 16px;
    border: none;
    border-right: 1px solid #c7c7c7;
}
.biography-sec h1 {
    padding-bottom: 10px;
}
.biography-sec h4 {
    text-align: center !important;
    width: 100%;
}
.search-destinations select#choose-service {
    border-radius: 3px;
    padding: 5px 0;
}
.search-destinations select#equipment_id {
    border-radius: 0px;
    padding: 5px 0;
}
.search-destinations select#gender {
    border-radius: 0px;
    padding: 5px 0px;
}
.search-destinations input {
    width: 185px;
}
.search-destinations select {
    width: 185px;
    border-radius: 0px !important;
    border: none;
    border-right: 1px solid #c7c7c7;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml,%3Csvg%20fill%3D'black'%20height%3D'14'%20viewBox%3D'0%200%2024%2024'%20width%3D'14'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M7%2010l5%205%205-5z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 1rem;
    padding-left: 5px !important;
}
.gender-section select#gender {
    border-right: 0px;
}
.owl-css {
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.owl-css:hover {
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    color: rgb(169 240 5);
    transform: scale(1.1);
}

.work-destination {
    margin-top: 40px;
}

.work-destination .card img {
    width: 50px;
    margin: auto;
    padding: 15px 0;
}

.work-destination .card h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 0;
}

.work-destination .card p {
    color: gray;
    width: 85%;
    margin: auto;
}

.work-destination .card {
    padding-bottom: 15px;
}

.work-destination .column {
    height: 211px;
}

section.testimonials h3.nav-link {
    text-align: center;
}

.container-input-fields h2.nav-link {
    text-align: center;
}

.filter-host-user {
    gap: 50px;
    row-gap: 25px;
}

.meet-our-top {
    margin-top: 20px;
}

.host-user-filter-left img {
    border-radius: 5px;
}

.host-user-filter-left {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.row.host-user-filter {
    display: block;
}

.col-md-6.mt-4.host-user-filter-right {
    width: 100%;
    max-width: 100%;
    margin-top: 8px !important;
}
.filter-host-user .partial-host-list .text.nav-link-dash {
    text-align: left;
    padding: 2px 0px;
    font-size: 15px;
    margin-top: 0px !important;
}
.row.filter-host-user .text.nav-link-dash.font-weight-bold.mt-4 {
    margin-top: 10px !important;
}

.subscribe-news .subscribe-news-input {
    display: block !important;
}

.subscribe-news-input input.form-control {
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 15px !important;
    margin: auto;
    height: 50px;
    border-radius: 15px;
}

.social-icon {
    gap: 10px;
}

.social-icon i {
    background: #000;
    padding: 10px;
    font-size: 25px;
    margin-top: 0;
    border-radius: 5px;
}

.social-icon i:hover {
    background: #a9f005;
    color: black;
}
p.rating-review-point {
    text-align: center !important;
    display: flex;
    justify-content: left;
    padding-top: 10px;
}

/*host-profile-page-start*/

.host-profile-by-id .row.booking-mark-sdv {
    width: 100%;
    margin: auto;
    padding-left: 20px;
}
.col-md-3.biography-left-content {
    padding-left: 0;
}
.host-profile-by-id .select-service-right h1 {
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.host-name-text-add p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}
.host-booking-inner label {
    margin-bottom: 0;
}

.host-profile-by-id .biography-sec h4 {
    text-align: left;
}

.host-profile-by-id .biography-sec {
    color: #fff;
    text-align: left;
    padding-top: 15px;
}
.host-profile-by-id .select-service-left {
    flex: 0 0 23%;
}
.host-profile-by-id .select-a-service {
    text-align: center;
    gap: 0px;
    padding-bottom: 15px;
    display: flex;
}
.biography-right-content a.carousel-control-next {
    display: none;
}
.biography-right-content span.carousel-control-prev-icon {
    display: none;
}

.biography-right-content .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 5px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100% !important;
}

.biography-right-content .carousel-indicators li.active {
    color: #fff !important;
    opacity: 3 !important;
}
 
.biography-right-content .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 10px;
}


.host-profile-by-id .select-a-tool {
    gap: 0;
    display: flex;
}
.host-profile-by-id .host-booking-inner {
    margin-top: 0;
}
.host-select-add {
    display: flex;
    align-items: center;
    gap: 28px;
}
.host-profile-by-id .row.maximum-offers-service p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.host-profile-by-id .row.maximum-offers-service i.fa-solid.fa-heart {
    top: 58px;
}

.host-profile-by-id .host-main-profile {
    padding-top: 0px;
    padding-bottom: 40px;
}

a.book-now-btn:hover {
    background: #fff;
}
footer.mt-5.text-white.pt-5 {
    margin-top: 15px !important;
}
.select-duration-inner {
    justify-content: flex-end;
    width: 100%;
    padding-left: 10px;
}
.select-duration-left {
    padding-left: 0;
}

h6.guest-fav-text {
    background-color: #fff;
    width: 38%;
    text-align: center;
    padding: 6px 0;
    border-radius: 50px;
    font-size: 13px;
    position: absolute;
    top: 55px;
    margin-left: 8px;
}

.meet-top-section-owl button.filter-submit {
    background: none;
    border: none;
}

.row.partial-host-list .card-body img {
    width: 120px !important;
    border-radius: 2px;
    height: 169px !important;
    display: flex !important;
    justify-content: center !important;
    object-fit: cover;
    padding-left: 5px;
}
.host-by-name {
    padding: 0;
    text-align: left;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 150px !important;
    margin-top: 0px !important;
    padding-left: 25px;
}
.host-image {
    padding: 0;
}
.host-by-name span.nav-link-dash {
    font-size: 15px;
}
.row.partial-host-list .card-body {
    padding-bottom: 0px;
    height: 190px;
}
.host-by-name p {
    margin-bottom: 0;
}

.filter-host-user .partial-host-list .filter-view-more {
    padding-bottom: 10px;
    padding: 10px 0;
    position: relative;
    left: -30px;
}
.filter-host-user .partial-host-list .filter-view-more a {
    color: #000;
    font-weight: 500;
    text-decoration: underline;
}
span.nav-link-dash.host-name-text {
    font-size: 18px;
    font-weight: 500;
}
.row.partial-host-list .card.p-3.mb-5 {
    padding-bottom: 0px !important;
}
.gig-filter-paginate ul.pagination {
    margin-top: 30px;
}

.gig-filter-paginate ul.pagination .page-item.active .page-link {
    z-index: 3;
    color: black;
    background-color: #b3fa00;
    border-color: #b3fa00;
}
.gig-filter-paginate ul.pagination .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: black;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.filter-host-user .partial-host-list {
    justify-content: left;
    padding-bottom: 10px;
}
.emptyhost-page {
    padding: 10px 0;
    font-size: 20px;
}
.subscribe-news .btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #000 !important;
    border-color: #000 !important;
    box-shadow: none;
}

.host-name-text-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
}


@media only screen and (max-width: 767px) {

.select-duration button.accordion span {
    font-size: 16px;
}
.select-duration-right {
    height: auto;
    padding-top: 8px;
}
.music-audio {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.music-list-text h5 {
    margin-bottom: 5px;
    text-align: center;
    padding-top: 5px;
}
.duration-first {
    line-height: 2;
}
.music-list-text p {
    margin-bottom: 0;
    text-align: center;
}

.rating-review-point {
    display: flex;
    align-items: baseline;
    gap: 5px;
    padding-top: 5px;
}

.duration-text p {
    margin-bottom: 0px;
    padding: 0 15px;
    text-align: center;
}

.music-list-text {
    padding-left: 0;
    width: 100%;
}
.duration-text {
    display: block;
}

.lists-maximum-offers {
    padding-top: 20px;
}

.navbar-collapse {
    background-color: #d6ffa491;
}
.search-destinations .search-button {
    text-align: right;
}
.how-it-work {
    padding-top: 50px;
}
.host-by-name {
    padding: 0;
    padding-left: 15px;
}

.destination-section div#cityDropdown {
    top: 26% !important;
    left: 30px;
    width: 86%;
}

.search-destinations input {
    width: 100%;
}
.search-destinations select {
    width: 100%;
    border-right: none;
}
.search-destinations input#citySearchByInput {
    border-right: none;
}
.row.partial-host-list .col-md-4.mb-4 {
    padding: 0;
}
.gig-filter-paginate ul.pagination {
    margin-top: 0;
}
.work-destination .card img {
    padding: 15px 0;
    padding-bottom: 0;
}
div#feedback-testimonials .testimonial-name {
    margin: 10px auto 0;
}
footer.mt-5.text-white.pt-5 {
    margin-top: 15px !important;
    padding-top: 10px !important;
}
.host-profile-by-id .row.maximum-offers-service {
    width: 100%;
    margin: auto;
}

    .host-profile-by-id .row.select-duration-inner {
        width: 93%;
        margin: auto;
    }

    .host-profile-by-id .row.maximum-offers-service i.fa-solid.fa-heart {
        top: 75px;
    }

    .host-profile-by-id .container.select-duration {
        padding: 50px 0;
        padding-bottom: 0;
    }

    .host-profile-by-id .row.booking-mark-sdv {
        width: 85%;
        margin: auto;
        padding-left: 0;
        display: block;
        text-align: center;
    }

    .host-profile-by-id .select-service-right h1 {
        text-align: center;
    }

    .host-profile-by-id .host-booking-inner {
        margin-top: 5px;
    }

    .host-profile-by-id .host-main-profile {
        padding-top: 0px;
    }

.host-profile-by-id .host-main-profile h1 {
    text-align: center;
    font-size: 25px;
    width: 77%;
    margin: auto;
    margin-top: 0;
}

.host-profile-by-id .biography-sec h1 {
    margin-top: 0px;
}

.meet-our-top .detils-inner {
    padding: 10px 0;
    height: auto;
}

.subscribe-news-input input.form-control {
    display: flex !important;
    width: 100% !important;
}

.container.search-destinations {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    padding-left: 14px;
}

    select#choose-service {
        margin-top: 2px;
    }

  .destination-section {
    margin-bottom: 8px;
    border-bottom: solid 1px #ddd2d2;
}

.service-section {
    margin-bottom: 8px;
    border-bottom: solid 1px #ddd2d2;
}

  .gender-section {
    margin-bottom: 8px;
    border-bottom: solid 1px #ddd2d2;
}

.tool-section {
    margin-bottom: 8px;
    border-bottom: solid 1px #ddd2d2;
}

    .meet-top-section-owl {
        display: none;
    }

    .meet-our-top {
        margin-top: 25px;
    }

    .meet-our-top i.fa.fa-chevron-left {
        width: 40px;
        height: 40px;
    }

    .meet-our-top i.fa.fa-chevron-right {
        width: 40px;
        height: 40px;
    }

    .meet-our-top section {
        margin-top: 80px;
    }

  .meet-our-top .owl-nav {
    top: -25%;
}

    .host-main-profile {
        padding-top: 40px;
    }

    .meet-our-top h1 {
        text-align: center !important;
        padding-top: 0;
    }

.meet-our-top .owl-carousel .owl-item img {
    display: block;
    height: 170px;
    object-fit: cover;
}

    .host-main-profile h1 {
        padding-top: 0px;
    }

    .search-destinations {
        border-radius: 10px;
    }

    .select-service-left img {
        width: 150px;
        height: 150px;
    }

    .host-booking-inner {
        margin-top: 0px;
    }

    .select-a-service {
        display: block;
    }

    .select-service-right h1 {
        text-align: center;
        font-size: 25px;
        padding-top: 5px;
    }

    .select-a-service h3 {
        text-align: center;
    }

    .select-service-left {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .select-service-right {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .select-a-tool {
        margin-top: 10px;
        display: block;
        text-align: center;
    }

    .select-a-tool h3 {
        text-align: center;
    }

    .available-time p {
        text-align: center;
    }

    .row.maximum-offers-service p {
        margin-top: 10px;
    }

    .container.select-duration {
        padding: 50px 0;
    }

    .select-duration-left {
        padding: 0px !important;
        margin-bottom: 20px;
    }

.biography-sec p {
    width: 91%;
    margin: auto;
    padding: 8px;
    padding-right: 0;
}
.location-tab-add {
    text-align: center;
    line-height: 3.5;
}
    .row.maximum-offers-service {
        padding-top: 0;
        position: relative;
    }

    .panel.time-zone-sct ul {
        display: block;
        padding-left: 0;
    }

    .panel.time-zone-sct ul li {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .work-destination {
        margin-top: 20px;
    }

    .how-work-two {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .row.work-destination .col-md-4 {
        padding: 0;
    }

    form#home-booking-form {
        margin-bottom: 30px;
    }

    section.testimonials h3.nav-link {
        text-align: center;
        margin-top: 0px !important;
    }

    #feedback-testimonials .item {
        text-align: center;
        padding: 10px !important;
    }

    #customers-testimonials .item {
        text-align: center;
        padding: 10px !important;
    }

    .container-input-fields h2.nav-link {
        margin-left: 0px !important;
        text-align: center;
    }

    .interactive-four input.form-control {
        width: 100% !important;
    }

    .book-a-task-row {
        margin-top: 50px;
    }

    .interactive-footer {
        padding-top: 20px !important;
    }

    .col-12.col-md-4.mb-4.interactive-third {
        margin-bottom: 0px !important;
    }

    p.small {
        font-size: 16px;
    }

    .interactive-second ul.list-unstyled li {
        line-height: 1.9;
    }

    .book-a-task-row .input-group-text {
        padding-left: 0px;
    }

}


@media (min-width:768px) and (max-width:1024px) {
span.nav-link-dash.host-name-text {
    font-size: 14px;
    font-weight: 500;
}
.row.partial-host-list .card-body img {
    width: 80px !important;
    border-radius: 2px;
    height: 80px !important;
}
.row.partial-host-list .col-md-4.mb-4 {
    padding: 5px;
}
.gig-filter-paginate ul.pagination {
    margin-top: 0px;
}
.filter-host-user .partial-host-list .text.nav-link-dash {
    font-size: 13px;
}
.row.partial-host-list .card-body {
    padding-bottom: 0px;
    height: 290px;
}
    .meet-our-top .detils-inner {
        padding: 10px 0;
        height: 180px;
    }

    .meet-our-top {
        margin-top: 30px;
    }

    .host-profile-by-id .panel.time-zone-sct ul li {
        margin-bottom: 0px;
        width: 100%;
        font-size: 13px;
        padding: 0 6px;
    }

    .host-profile-by-id .select-duration .panel {
        padding: 0 8px;
        margin-top: -2px;
    }

    .host-profile-by-id .panel.time-zone-sct ul {
        display: flex !important;
        gap: 10px;
    }

    .host-profile-by-id .music-list-text {
        padding-left: 0;
        width: 100%;
    }

    .host-profile-by-id .host-main-profile {
        padding-top: 20px;
    }

    .host-profile-by-id .music-audio img {
        display: flex;
        margin: auto;
    }

    .host-profile-by-id .container.select-duration {
        padding: 40px 0;
        padding-bottom: 0px;
    }

    .host-profile-by-id .row.maximum-offers-service i.fa-solid.fa-heart {
        top: 80px;
    }

    .host-profile-by-id .row.booking-mark-sdv {
        width: 94%;
        margin: auto;
        padding-left: 15px;
    }

    .host-profile-by-id .select-a-service {
        text-align: center;
        gap: 5px;
    }

    .container.search-destinations {
        width: 100%;
        padding-left: 33px;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    .meet-our-top i.fa.fa-chevron-left {
        width: 40px;
        height: 40px;
    }

    .meet-our-top i.fa.fa-chevron-right {
        width: 40px;
        height: 40px;
    }

    .search-destinations {
        display: block;
    }

    .search-destinations .destination-section {
        margin-bottom: 8px;
    }

    .search-destinations .service-section {
        margin-bottom: 8px;
    }

    .search-destinations .tool-section {
        margin-bottom: 5px;
    }

    .search-destinations .gender-section {
        margin-bottom: 8px;
    }

    .search-destinations select#choose-service {
        margin-top: 2px;
    }

    .meet-our-top .owl-nav {
        top: -12%;
    }

    .meet-top-section-owl {
        margin-bottom: 0px !important;
    }

    .select-service-left img {
        width: 150px;
        height: 150px;
    }

    .available-time p {
        font-size: 16px;
    }

    .host-main-profile h1 {
        padding-top: 0px;
    }

    .maximum-offers-service img {
        width: 100%;
        border-radius: 20px;
        height: auto;
    }

    .row.maximum-offers-service {
        padding-top: 30px;
        position: relative;
    }

    .row.maximum-offers-service p {
        font-size: 18px;
        color: #fff;
    }

    .select-duration-right {
        height: 295px;
        padding-top: 8px;
    }

    .music-audio img {
        width: 25%;
        border-radius: 50px;
        display: inline;
    }

    .music-list-text h5 {
        text-align: center;
    }

    .music-list-text p {
        text-align: center;
    }

    .rating-review-point {
        display: flex;
        align-items: baseline;
        gap: 2px;
        justify-content: center;
    }

    .music-audio {
        margin: 8px;
        padding: 11px 11px;
        display: block;
        padding-bottom: 0px;
    }

    .duration-text p {
        margin-bottom: 0px;
        font-size: 13px;
        padding: 0px 9px;
    }

    .Proceed-to-checkout {
        padding: 10px 0;
        margin: 8px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .panel.time-zone-sct ul li {
        margin-bottom: 15px;
    }

    .panel.time-zone-sct ul {
        display: block;
        text-align: left;
        padding-left: 0;
    }

    .container.select-duration {
        padding: 40px 0;
    }

    .row.work-destination p.text-white {
        height: 40px;
    }

    .work-destination .card p {
        width: 94%;
        margin: auto;
        font-size: 14px;
    }

    .book-a-task-row {
        margin-top: 50px;
    }

    section.testimonials h3.nav-link {
        margin-top: 15px !important;
    }

    #feedback-testimonials .item {
        padding: 0px !important;
        padding-top: 40px !important;
    }

    #customers-testimonials .item {
        padding: 0 !important;
        padding-top: 40px !important;
    }

    .book-a-task-row .input-group-text {
        padding-left: 0;
    }

    div#gigs .card-content {
        display: block;
        align-items: center;
    }

    img.ikoro-images {
        margin-top: 10px;
        border-radius: 5px;
    }

    .view-hire-btn-one {
        padding: 0 0 !important;
        margin-right: 10px !important;
    }

    .view-hire-btn-two {
        padding: 0 0 !important;
    }

    .view-hire-btn-one i.fas.fa-search {
        margin-top: 0px;
    }

    .view-hire-btn-two i.fa.fa-refresh {
        margin-top: 0px;
    }

    .biography-sec p {
        width: 90%;
        margin: auto;
    }

    .biography-sec {
        padding-top: 20px;
    }

}

/*Filter Css*/

